.App{
  background-color: darkgoldenrod;
}

.container{
  display: flex;
  width: 600;
  margin: "auto";
  padding: 100;
  text-align: center;
  
}

.ul{
  height: 100vbh;
  width: 100;
  margin: "auto";
  padding: 125;
  text-align: center;

}
.delButton{
  background-color: darkgoldenrod;
}