.App{
  background-color :purple;
}

.container{
  display: flex;
  width: 600;
  margin: "auto";
  padding: 100;
  text-align: center;
  border: 5px solid green;
  
}

/* .ul{
  height: 100vh;
  width: 100;
  margin: "auto";
  padding: 125;
  text-align: center; */

/* }
.delButton{
  background: rgb(225, 228, 41);
  height: vh;

} */
.add-btn{
  background-color: hotpink;
  width: 40px;
  height: 40px;
}
